


.component3 form {
    width: 500px;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    

}
.component3{
    display: flex;
    justify-content: center;
}


.restaurantsignup .fullName{
    padding-top: 40px;
} 

.restaurantsignup .fullButton{
 width: 140px;
 margin-top: 20px;
 margin-left: 37%;
}

.restaurant {
   margin-top: 40px;
   font-size: 50px;
}






     

    


