* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App nav {
  display: flex;
  justify-content: center;
}

.App-header {
  margin-top: 4rem;
  background-color: rgb(136, 245, 185);
}

.restaurantLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav nav {
  background: black;
  width: 100vw;
  height: px;
  display: flex;
  position: fixed;
  margin-top: -4rem;
  z-index: 1000;
}

.App nav {
  justify-content: center;
}

.nav nav li a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav nav li {
  display: inline-flex;
  margin: 0rem 1rem 0rem 1rem;
}

.nav nav ul {
  padding: 1rem;
  flex-wrap: wrap;
}

.App .cardContainer {
}

.App .card {
  background: rgba(0, 0, 0, 0.4);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  filter: drop-shadow(0rem 0rem 1rem black);
  height: 375px;
}

.nothingHere {
  margin-top: 2rem;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.resnameList {
  font-size: 500%;
  margin-left: 50%;
}
.nameList,
.respostList,
.resaddList,
.phoneList {
  font-size: 25px;
  margin-left: 50%;
  margin-top: 1%;
}
.imgList {
  margin-top: -15%;
  margin-left: 5%;
  width: 230px;
  max-width: 230px;
}
.buttonList {
  position: relative;
  left: 50%;
  top: 8%;
}

.buttonList {
  z-index: 3;
}
