* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.App nav {
  display: flex;
  justify-content: center;
}

.App-header {
  margin-top: 4rem;background-color: rgb(136, 245, 185);
}

.signInPage,
.restaurantLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav nav {
  background: black;
  width: 100vw;
  height: px;
  display: flex;
  position: fixed;
  margin-top: -4rem;
  z-index: 1000;
}

.App nav {
  justify-content: center;
 
}

.nav nav li a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav nav li {
  display: inline-flex;
  margin: 0rem 1rem 0rem 1rem;
}

.nav nav ul {
  padding: 1rem;
  flex-wrap: wrap;
}
