* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
.App {
  background: rgb(136, 245, 185);
}

.App nav {
  display: flex;
  justify-content: center;
}

.App-header {
  margin-top: 5rem;
}

.signInPage,
.restaurantLinks {
  display: flex;
  justify-content: center;
}

.nav nav {
  background: black;
  width: 100vw;
  display: flex;
  position: fixed;
  margin-top: -5rem;
  z-index: 10;
}

.App nav {
  justify-content: center;
}

.nav nav li a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav nav li {
  display: inline-flex;
  margin: 0rem 1rem 0rem 1rem;
}

.nav nav ul {
  padding: 1.5rem;
  flex-wrap: wrap;
}
